<!DOCTYPE html>
<html lang="en">

<head>
	<title>Divorius - Sabores do Alentejo</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap"
		rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="/resources/frontend/css/open-iconic-bootstrap.min.css">
	<link rel="stylesheet" href="/resources/frontend/css/animate.css">

	<link rel="stylesheet" href="/resources/frontend/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/resources/frontend/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="/resources/frontend/css/magnific-popup.css">

	<link rel="stylesheet" href="/resources/frontend/css/aos.css">

	<link rel="stylesheet" href="/resources/frontend/css/ionicons.min.css">

	<link rel="stylesheet" href="/resources/frontend/css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="/resources/frontend/css/jquery.timepicker.css">

	<script src="https://code.jquery.com/jquery-1.8.3.js"
		integrity="sha256-dW19+sSjW7V1Q/Z3KD1saC6NcE5TUIhLJzJbrdKzxKc=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/resources/frontend/css/flaticon.css">
	<link rel="stylesheet" href="/resources/frontend/css/icomoon.css">
	<link rel="stylesheet" href="/resources/frontend/css/style.css">
</head>

<body class="goto-here">

	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
		<div class="container">
			<a class="navbar-brand" href="./"><img src="/resources/frontend/images/Divorius-logo.jpg"
					style="border-radius: 50%;opacity: 0.9;"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
				aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="oi oi-menu"></span> Menu
			</button>

			<div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item "><a href="./" class="nav-link">Home</a></li>
					<li class="nav-item active "><a href="./shop" class="nav-link">Loja</a></li>

					</li>
					<!--<li class="nav-item"><a href="about.html" class="nav-link">About</a></li>-->
					<li class="nav-item"><a href="#" class="nav-link">Sobre</a></li>
					<li class="nav-item"><a href="./contact" class="nav-link">Contacto</a></li>
					<li class="nav-item cta cta-colored"><a style="color: white;" href="#cart_list"
							class="nav-link"><span style="color: white;" class="icon-shopping_cart"
								id="count_of_cart"></span></a></li>

				</ul>
			</div>
		</div>
	</nav>

	<style>
		@media (mix-width: 991.98px) {
			#home-section {
				margin-top: -100px;
				z-index: 1;
				top: 0;
			}
		}

		.nav-link {
			color: #ffd700;
		}

		#botao1 {
			background-color: #b88d00;
		}

		#botao1:hover {
			background-color: rgba(255, 255, 255, 0);
			border-style: solid;
			border-color: #b88d00;
			border-width: 1px;
			color: #b88d00;
		}
	</style>
	<!-- END nav -->

	<div class="hero-wrap hero-bread"
		style="background-image: url('/resources/frontend/images/capa12.jpg');margin-top: -80px;">
		<div class="container">
			<div class="row no-gutters slider-text align-items-center justify-content-center">
				<div class="col-md-9 ftco-animate text-center">
					<p class="breadcrumbs"><span class="mr-2"></span> <span>Sabores do Alentejo</span></p>
					<h1 class="mb-0 bread">Produtos</h1>
				</div>
			</div>
		</div>
	</div>
	<style>
		#radio .btn.active {
			background-color: #b88d00;
			color: white;
		}

		#radio .btn {
			color: #b88d00;
		}
	</style>
	<section class="ftco-section">
		<div id="lista" class="container">
			<form class="container" method="get">
				<div class="row justify-content-center">
					<%  if (categoria){ %>
					<select
						class="custom-select custom-select-lg  col-md-4 text-center d-flex align-self-stretch ftco-animate"
						id="bt-tshirts" name="options">
						<option value="" selected>Todos os Produtos</option>
						<%  for (let index in categoria){ %>

						<% var selected  = ( categoria[index].id == req.query.options ) ? "selected " : ""; %>


						<option <%=selected %> value="<%= categoria[index].id %>"> <%= categoria[index].nome %></option>
						<% } %>
					</select>


					<%  } %>



					<select
						class="custom-select custom-select-lg   col-md-4 text-center d-flex align-self-stretch ftco-animate size='1'"
						id="preco" name="preco">
						<option value="" selected>Ordenar por</option>
						<option value="1">Preço mais baixo</option>
						<option value="2">Preço mais alto</option>

					</select>


					<input id="ze" type="submit" name="search" class="btn" value="Pesquisar">

					<style>
						.custom-select {
							border-radius: 20px;
						}

						form .btn {
							background-color: #b88d00;
							color: white;
						}

						form .btn:hover {
							background-color: rgba(255, 255, 255, 0);
							border-style: solid;
							border-color: #b88d00;
							border-width: 1px;
							color: #b88d00;
						}

						form {
							padding-bottom: 80px;
						}

						form select {
							border-color: #b88d00;
						}

						#pagination .active {
							color: #b88d00;

						}

						.img-fluid {
							margin: 40px;
						}
					</style>



				</div>
		</div>


		</form>

		<div class="row">
			<%  for (let index in produto){ %>

			<div class="col-md-6 col-lg-3 ftco-animate">
				<div class="product">
					<a data-toggle="modal" data-target="#largeModal" href="/product-single" class="img-prod"><img
							class="img-fluid" src="./imgcomment/<%= produto[index].images %>" alt="Colorlib Template">
						<!--<span class="status">30%</span>-->
						<div class="overlay"></div>
					</a>
					<div class="text py-3 pb-4 px-3 text-center">
						<h3><a href="#"><%= produto[index].nome %></a></h3>
						<div class="d-flex">
							<div class="pricing">
								<p class="price"><span class="price-sale">€<%= produto[index].preco %></span></p>
							</div>
						</div>
						<div class="bottom-area d-flex px-3">
							<div class="m-auto d-flex">

								<a href="/product-single?id=<%= produto[index].id %>" data-toggle="modal"
									data-book-id="?id=<%= produto[index].id %>"
									class="buy-now d-flex justify-content-center align-items-center mx-1">
									<span><i class="ion-ios-cart"></i></span>
								</a>

							</div>
						</div>
					</div>
				</div>
			</div>
			<% } %>

			<div style="margin: auto;" class="row mt-5">

			</div>

		</div>
		<div id="pagination" class="col text-center">
			<div class="block-27">
				<ul>
					<li><a href="#">&lt;</a></li>
					<li class="active"><span>1</span></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#">&gt;</a></li>
				</ul>
			</div>
		</div>
	</section>



	<section class="ftco-section ftco-cart">
		<div class="container">
			<div class="row">
				<div class="col-md-12 ftco-animate">
					<div class="cart-list">
						<table class="table">
							<thead class="thead-primary">
								<tr class="text-center">
									<th>&nbsp;</th>
									<th>&nbsp;</th>

									<th>Nome do Produto</th>
									<th>Preço</th>
									<th>Quantidade</th>
									<th>Total</th>
								</tr>
								<form action="./encomendas" method="POST" class="billing-form" action="./encomendas">

							</thead>

							<tbody id="cart_list">

							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="row justify-content-end">


				<section class="ftco-section">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-xl-7 ftco-animate">
								<form action="./encomendas" method="POST" class="billing-form" action="./encomendas">
									<input type="hidden" id="cart_data" name="cart_data">
									<h3 class="mb-4 billing-heading">Detalhes do Cliente</h3>
									<div class="row align-items-end">
										<div class="col-md-6">
											<div class="form-group">
												<label for="firstname">Primeiro Nome</label>
												<input type="text" name="pnome" class="form-control" placeholder="">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label for="lastname">Último Nome</label>
												<input type="text" name="unome" class="form-control" placeholder="">
											</div>
										</div>
										<div class="w-100"></div>
										<div class="col-md-12">
											<div class="form-group">
												<label for="state">Cantão</label>
												<div class="select-wrap">
													<div class="icon"><span class="ion-ios-arrow-down"></span></div>
													<select name="cantao" id="cantao" class="form-control">
														<option>Escolhe um Cantão</option>
														<%  for (let index in cantao){ %>

														<option value="<%= cantao[index].distrito %>">
															<%= cantao[index].distrito %></option>
														<% } %>
													</select>
												</div>
											</div>
										</div>
										<div class="w-100"></div>
										<div class="col-md-12">
											<div class="form-group">
												<label for="streetaddress">Morada</label>
												<input type="text" class="form-control" name="morada"
													placeholder="Nome da rua e número da porta">
											</div>
										</div>

										<div class="w-100"></div>
										<div class="col-md-6">
											<div class="form-group">
												<label for="towncity">País</label>
												<input type="text" class="form-control" placeholder=" Suiça" disabled>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label for="postcodezip">Código Postal</label>
												<input type="text" class="form-control" name="codpos" placeholder="">
											</div>
										</div>
										<div class="w-100"></div>
										<div class="col-md-6">
											<div class="form-group">
												<label for="phone">Telefone</label>
												<input type="text" name="telefone" class="form-control" placeholder="">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label for="emailaddress">Email </label>
												<input type="text" name="email" class="form-control" placeholder="">
											</div>
										</div>
										<div class="w-100"></div>
										<div class="col-md-12">
											<div class="form-group mt-4">

											</div>
										</div>
									</div>
									<!-- END -->
							</div>
							<div class="col-xl-5">
								<div class="row mt-5 pt-3">
									<div class="col-md-12 d-flex mb-5">
										<div class="cart-detail cart-total p-3 p-md-4">
											<h3 class="billing-heading mb-4">Valor do Carrinho</h3>

											<hr>
											<p class="d-flex total-price">
												<span>Total</span>
												<span id="total_price"></span>
											</p>
										</div>
									</div>
									<div class="col-md-12">
										<div class="cart-detail p-3 p-md-4">
											<h3 class="billing-heading mb-4">Metodos de pagamento</h3>
											<!--
													  
													  <div class="form-group">
														  <div class="col-md-12">
															  <div class="checkbox">
																 <label><input type="checkbox" value="" class="mr-2"> Eu li e aceito os termos e condições</label>
															  </div>
														  </div>
													  </div> -->
											<p><a id='business' href="#" class="btn btn-primary py-3 px-4"
													style="display:none">Pagar com cartão de crédito</a></p>

											<button type="submit" class="btn btn-primary py-3 px-4">Fazer o pedido
												(pagar na entrega)</button>
										</div>
									</div>
								</div>
							</div>
							</form> <!-- .col-md-8 -->
						</div>
					</div>
				</section> <!-- .section -->



			</div>
		</div>
		</div>
		</div>
	</section>
	<style>
		@media (mix-width: 991.98px) {
			#home-section {
				margin-top: -100px;
				z-index: 1;
				top: 0;
			}
		}

		.nav-link {
			color: #ffd700;
		}

		#botao1 {
			background-color: #b88d00;
			border-radius: 0;
			text-align: center;
			justify-content: center;
			margin: auto;
		}

		#botao1 {
			color: white;
		}

		#botao1:hover {
			background-color: rgba(255, 255, 255, 0);
			border-style: solid;
			border-color: #b88d00;
			border-width: 1px;
			color: #b88d00;
		}

		#idbotao {
			text-align: center;
			justify-content: center;
			margin: auto;
		}
	</style>



	<footer class="ftco-footer ftco-section">
		<div class="container">
			<div class="row">
				<div class="mouse">
					<a href="#" class="mouse-icon">
						<div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
					</a>
				</div>
			</div>
			<div class="row mb-5">
				<div class="col-md">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">Divorius</h2>
						<p>Uma empresa que distribui produtos Portugueses da mais alta qualidade.</p>
						<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
							<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
							<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
							<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md">
					<div class="ftco-footer-widget mb-4 ml-md-5">
						<h2 class="ftco-heading-2">Menu</h2>
						<ul class="list-unstyled">
							<li><a href="#" class="py-2 d-block">Loja</a></li>
							<li><a href="#" class="py-2 d-block">Sobre</a></li>

							<li><a href="#" class="py-2 d-block">Contacto</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-4">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">Ajuda</h2>
						<div class="d-flex">
							<ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
								<li><a href="#" class="py-2 d-block">Informação de Transportes</a></li>

								<li><a href="#" class="py-2 d-block">Termos &amp; Condições</a></li>
								<li><a href="#" class="py-2 d-block">Privacy Policy</a></li>
							</ul>

						</div>
					</div>
				</div>
				<div class="col-md">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">Dúvidas?</h2>
						<div class="block-23 mb-3">
							<ul>
								<li><span class="icon icon-map-marker"></span><span class="text">Sankt Gallen, SG,
										Schweiz 9000 São Galo, Suíça</span></li>
								<li><a href="#"><span class="icon icon-phone"></span><span class="text">078 730 02 64
										</span></a></li>
								<li><a href="#"><span class="icon icon-envelope"></span><span
											class="text">divorius.alentejo@gmail.com</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">

					<p>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright @ All rights reserved | This webshop was created by <a
							href="https://dugong-websolutions.com" target="_blank">Dugong-Web-Solutions</a>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</p>
				</div>
			</div>
		</div>
	</footer>



	<!-- loader -->
	<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
			<circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
			<circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
				stroke="#F96D00" /></svg></div>

	<script src="/resources/frontend/js/shop.js"></script>
	<script src="/resources/frontend/js/jquery.min.js"></script>
	<script src="/resources/frontend/js/jquery-migrate-3.0.1.min.js"></script>
	<script src="/resources/frontend/js/popper.min.js"></script>
	<script src="/resources/frontend/js/bootstrap.min.js"></script>
	<script src="/resources/frontend/js/jquery.easing.1.3.js"></script>
	<script src="/resources/frontend/js/jquery.waypoints.min.js"></script>
	<script src="/resources/frontend/js/jquery.stellar.min.js"></script>
	<script src="/resources/frontend/js/owl.carousel.min.js"></script>
	<script src="/resources/frontend/js/jquery.magnific-popup.min.js"></script>
	<script src="/resources/frontend/js/aos.js"></script>
	<script src="js/jquery.animateNumber.min.js"></script>
	<script src="/resources/frontend/js/bootstrap-datepicker.js"></script>
	<script src="/resources/frontend/js/scrollax.min.js"></script>
	<script
		src="/resources/frontend/https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
	<script src="/resources/frontend/js/google-map.js"></script>
	<script src="/resources/frontend/js/main.js"></script>


	<script>$(document).ready(function () {
			$('#cantao').on('change', function () {
				if (this.value === 'Zürich' || 'Aargau' || 'St. Gallen' || 'Appenzell Ausserrhoden' || 'Appenzell Innerrhoden' || 'Luzern' || 'Schaffhausen') {
					$("#business").show();
				}
				else {
					$("#business").hide();
				}
			});
		});</script>
	<script>$(document).ready(function () {
			$('#cantao').on('change', function () {
				if (this.value === 'Genf') {
					$("#business").hide();
				}
				else if (this.value === 'Uri' || this.value === 'Zug' || this.value === 'Schwyz' ||
					this.value === 'Obwalden' || this.value === 'Nidwalden' || this.value === 'Glarus' ||
					this.value === 'Freiburg' || this.value === 'Solothurn' || this.value === 'Basel-Stadt' ||
					this.value === 'Basel-Landschaft' || this.value === 'Graubünden' || this.value === 'Thurgau'
					|| this.value === 'Tessin' || this.value === 'Waadt' || this.value === 'Wallis'
					|| this.value === 'Neuenburg' || this.value === 'Bern' || this.value === 'Jura') {
					$("#business").hide();
				} else { $("#business").show(); }
			});
		});</script>
	<script>
		$(document).ready(function () {


			var cartData = JSON.parse(localStorage.getItem("cartData"));
			var totalPrice = 0;
			if (cartData && cartData.length) {
				$("#count_of_cart").html(`[${cartData.length}]`)
				var cartHtml = '';
				for (var i = 0; i < cartData.length; i++) {
					var paymentUnit = String(cartData[i].price).substr(0, 1);
					cartHtml += `<tr class="text-center">
									<td class="product-remove"><a href="javascript:;" class="product-remove-button" data-id="${cartData[i].id}"><span class="ion-ios-close"></span></a></td>

									<td class="image-prod">
										<div class="img"
											style="background-image:url(${cartData[i].imageSrc});">
										</div>
									</td>

									<td class="product-name">
										<h3>${cartData[i].title}</h3>
										<p>${cartData[i].desc}</p>
									</td>

									<td class="price">${cartData[i].price}</td>
									

									<td class="quantity">
										<div class="input-group mb-3">
											<input type="text" name="quantity"
												class="quantity form-control input-number" value="${cartData[i].quantity}" min="1" max="100">
										</div>
									</td>

									<td class="total">${paymentUnit}${cartData[i].totalPrice}</td>
								</tr><!-- END TR-->`;

					totalPrice += cartData[i].totalPrice;
				}

				$("#cart_list").html(cartHtml);
				$("#total_price").html(`${paymentUnit}${totalPrice}`);

				$(".icon-shopping_cart").html(`[${cartData.length}]`);
				console.log('cartData>>', cartData)
			} else {
				$(".icon-shopping_cart").html(`[0]`);
				var initialCartData = [];
				localStorage.setItem("cartData", JSON.stringify(initialCartData));
			}

			cartData = JSON.parse(localStorage.getItem("cartData"));
			$("#cart_data").val(JSON.stringify(cartData));

			// remove cart
			$(".product-remove-button").click(function () {
				var cartData = JSON.parse(localStorage.getItem("cartData"));
				var id = $(this).data("id");
				var updatedCartData = [];
				var totalPrice = 0;
				for (var i = 0; i < cartData.length; i++) {
					if (Number(cartData[i].id) !== id) {
						updatedCartData.push(cartData[i]);
						totalPrice += cartData[i].totalPrice;
					}
				}

				updatedCartData = JSON.stringify(updatedCartData);
				$("#cart_data").val(updatedCartData);

				localStorage.setItem("cartData", updatedCartData);
				$("#total_price").html(`${paymentUnit}${totalPrice}`);
				$(this).parent().parent().remove();
			});

		}) 
	</script>


</body>

</html>